table{
    border: 2px black solid ;
    width: 70%;
}
.cabecera{
    display: flex;

}
img{
    width:30%;
}
.productos{
    display: flex;
}
.cancion{
    border: 2px black solid;
    border-radius: 20px;
    padding: 20px;
}
.caja{
    background-color: pink;
    width: 40%;
    padding: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 15px -10px 1px 0 green, -10px 15px 0 1px purple;
}